<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Memo</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.memo %></td>
        <td><%= task.status %></td>
        <td><%= link_to 'タスク詳細', task %></td>
        <td><%= link_to 'タスク編集', edit_task_path(task) %></td>
        <td><%= link_to 'タスク削除', task, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規タスク登録', new_task_path %>
