<p id="notice"><%= notice %></p>

<h1>タスク詳細</h1>

<p>
  <strong>タスク名:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>タスクメモ:</strong>
  <%= @task.memo %>
</p>

<p>
  <strong>状態:</strong>
  <%= @task.status %>
</p>

<%= link_to 'タスク編集', edit_task_path(@task) %> |
<%= link_to 'タスク一覧', tasks_path %>
<%= link_to 'タスク削除', task_path, method: :delete, data: { confirm: '削除してよろしいですか？' } %>
