<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @task.memo %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<%= link_to 'タスク編集', edit_task_path(@task) %> |
<%= link_to 'タスク一覧', tasks_path %>
<%= link_to 'タスク削除', task_path, method: :delete, data: { confirm: '削除してよろしいですか？' } %>
